html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Verdana";
  text-align: center;
  background-image: linear-gradient(0deg, #1976D2 10%, #0396FF 100%);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

#juegoDiv {
  margin: auto;
  width: 80%;
}
canvas {
  height: 100%;
  box-shadow: 0 10px 15px 2px black;
}
